.reset {
  all: unset;
}
main {
  display: flex;
background:#f7fdfc
 ;
}
.left {
  width: 460px;
  height: 275px;
  margin-top: 205px;
  margin-left: 140px;
}
.right {
  width: 580px;
  height: 679px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.1);
  margin-top: 80px;
  margin-bottom: 80px;
  border-radius: 6px;
  padding: 40px ;
}

.logo {
  margin-bottom: 30px;
}
h2{
  color: var(--cl-black, #000B0A);
  font-family: 'Josefin Sans', sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 50px;
letter-spacing: -0.8px;
}
.para {
  color: var(--cl-grey, #737373);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin-right: 55px;
}
div {
  display: inline-block;
}
label {
  display: block;
  color: var(--text-headings, #011c34);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.1px;
  margin: 30px 0 10px 0;
}
.input[type="text"],
[type="number"],
[type="date"] {
  width: 238px;
  height: 30px;
  margin-right: 24px;
  position: relative;
  z-index: 1;
}
.input[type="password"] {
  width: 500px;
  height: 30px;
  position: relative;
  z-index: 1;
}
.calendar{
position: absolute;
z-index: 2;
right: 12em;
top: 17.5em;
}
.eye{
  position: absolute;
  z-index: 2;
  right: 13.125em;
  bottom: 7.3em;
}

::-webkit-input-placeholder {
  color: var(--cl-grey, #737373);
font-family: Sofia Pro;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 20px; 
letter-spacing: 0.2px;
}

::-moz-placeholder {
  color: var(--cl-grey, #737373);
font-family: Sofia Pro;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 20px;
letter-spacing: 0.2px;
}

::-ms-placeholder {
  color: var(--cl-grey, #737373);
font-family: Sofia Pro;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 20px;
letter-spacing: 0.2px;
}

::placeholder {
  color: var(--cl-grey, #737373);
font-family: Sofia Pro;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 20px; 
letter-spacing: 0.2px;
}
.select {
  width: 241px;
  height: 33px;
  margin-right: 29px;
}
.activity {
  width: 500px;
  height: 36px;
}
button {
  background-color: #2ec4b6;
  width: 500px;
  height: 48px;
  flex-shrink: 0;
  color: var(--basic-100, #fff);
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.2px;
}
.button {
  margin: 30px 0 16px 0;
  display: flex;

}
.policy {
  color: #000;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
span {
  color: var(--cl-green, #2ec4b6);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  text-decoration-line: underline;
}
